PORT=

MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_URL=
DB_NAME=

EMAIL_USER=
EMAIL_PASS=
EMAIL_SERVICE=

SESSION_SECRET_KEY=
CONFIRMATION_SECRET_KEY=
PW_RESET_SECRET_KEY=
PW_RESET_CODE_SECRET_KEY=

OWN_URL=

AWS_BUCKET_NAME=
AWS_BUCKET_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=